@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.all {
    /* background: rgb(253, 250, 234); */
    background: url(./images/background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.card-thing {
    box-shadow: 0 10px 20px 5px rgba(0,0,0,.1);
}

.nav-style {
    /* background: rgba(13,31,65,.95); */
    background: rgba(13,31,65,.7);
    box-shadow: 0 10px 20px 5px rgba(0,0,0,.05);
}

.do-magic-thing {
    animation: magicThing .4s ease-in-out 0;
    animation-fill-mode: forwards;
}

@keyframes magicThing {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
